#container {
  text-align: center;
  font-size: 100px;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container h1 {
  font-size: 70px;
  color: chartreuse;
  line-height: 26px;
  font-family: Arial, Helvetica, sans-serif;


}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}